In [5]:
import pandas as pd
import numpy as np
from datetime import datetime


raw_dataset=pd.read_excel('PSP_Jan_Feb_2019.xlsx')
raw_dataset=pd.DataFrame(raw_dataset)
raw_dataset.tail()

,Unnamed: 0,tmsp,country,amount,success,PSP,3D_secured,card
50405,50405,2019-02-28 23:45:39,Switzerland,415,0,UK_Card,0,Visa
50406,50406,2019-02-28 23:46:48,Austria,91,0,UK_Card,0,Master
50407,50407,2019-02-28 23:47:04,Austria,91,0,UK_Card,0,Master
50408,50408,2019-02-28 23:47:36,Austria,91,0,UK_Card,0,Master
50409,50409,2019-02-28 23:48:19,Austria,91,1,Moneycard,0,Master

In [13]:
raw_dataset.card.unique()

array(['Visa', 'Diners', 'Master'], dtype=object)

   Is_Germany  Is_Austria  Is_Switzerland
0         1.0         0.0             0.0
1         1.0         0.0             0.0
2         1.0         0.0             0.0
3         1.0         0.0             0.0
4         0.0         1.0             0.0

In [14]:
print(raw_dataset.loc[0,'country'])

Germany

In [15]:
prepros_dataset=pd.DataFrame()
for i in range(len(raw_dataset)):
    if  raw_dataset.iloc[i,2]=='Germany':
        prepros_dataset.loc[i,'Is_Germany']=1
        prepros_dataset.loc[i,'Is_Austria']=0
        prepros_dataset.loc[i,'Is_Switzerland']=0
    elif raw_dataset.iloc[i,2]=='Austria':
        prepros_dataset.loc[i,'Is_Germany']=0
        prepros_dataset.loc[i,'Is_Austria']=1
        prepros_dataset.loc[i,'Is_Switzerland']=0
    elif raw_dataset.iloc[i,2]=='Switzerland':
        prepros_dataset.loc[i,'Is_Germany']=0
        prepros_dataset.loc[i,'Is_Austria']=0
        prepros_dataset.loc[i,'Is_Switzerland']=1

prepros_dataset.head()

   Is_Germany  Is_Austria  Is_Switzerland
0         1.0         0.0             0.0
1         1.0         0.0             0.0
2         1.0         0.0             0.0
3         1.0         0.0             0.0
4         0.0         1.0             0.0

In [39]:
prepros_dataset.tail()

       Is_Germany  Is_Austria  Is_Switzerland
50405         0.0         0.0             1.0
50406         0.0         1.0             0.0
50407         0.0         1.0             0.0
50408         0.0         1.0             0.0
50409         0.0         1.0             0.0

In [16]:
for i in range(len(raw_dataset)):
    if  raw_dataset.iloc[i,5]=='UK_Card':
        prepros_dataset.loc[i,'Is_UK_Card']=1
        prepros_dataset.loc[i,'Is_Simplecard']=0
        prepros_dataset.loc[i,'Is_Moneycard']=0
        prepros_dataset.loc[i,'Is_Goldcard']=0
    elif raw_dataset.iloc[i,5]=='Simplecard':
        prepros_dataset.loc[i,'Is_UK_Card']=0
        prepros_dataset.loc[i,'Is_Simplecard']=1
        prepros_dataset.loc[i,'Is_Moneycard']=0
        prepros_dataset.loc[i,'Is_Goldcard']=0
    elif raw_dataset.iloc[i,5]=='Moneycard':
        prepros_dataset.loc[i,'Is_UK_Card']=0
        prepros_dataset.loc[i,'Is_Simplecard']=0
        prepros_dataset.loc[i,'Is_Moneycard']=1
        prepros_dataset.loc[i,'Is_Goldcard']=0
    elif raw_dataset.iloc[i,5]=='Goldcard':
        prepros_dataset.loc[i,'Is_UK_Card']=0
        prepros_dataset.loc[i,'Is_Simplecard']=0
        prepros_dataset.loc[i,'Is_Moneycard']=0
        prepros_dataset.loc[i,'Is_Goldcard']=1

prepros_dataset.head()

,Is_Germany,Is_Austria,Is_Switzerland,Is_UK_Card,Is_Simplecard,Is_Moneycard,Is_Goldcard
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [45]:
for i in range(len(raw_dataset)):
    if  raw_dataset.iloc[i,7]=='Visa':
        prepros_dataset.loc[i,'Is_Visa']=1
        prepros_dataset.loc[i,'Is_Diners']=0
        prepros_dataset.loc[i,'Is_Master']=0
    elif raw_dataset.iloc[i,7]=='Diners':
        prepros_dataset.loc[i,'Is_Visa']=0
        prepros_dataset.loc[i,'Is_Diners']=1
        prepros_dataset.loc[i,'Is_Master']=0
    elif raw_dataset.iloc[i,7]=='Master':
        prepros_dataset.loc[i,'Is_Visa']=0
        prepros_dataset.loc[i,'Is_Diners']=0
        prepros_dataset.loc[i,'Is_Master']=1

prepros_dataset.head()

,Is_Germany,Is_Austria,Is_Switzerland,Is_UK_Card,Is_Simplecard,Is_Moneycard,Is_Goldcard,Is_Visa,Is_Diners,Is_Master,Master
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,NaN

,Is_Germany,Is_Austria,Is_Switzerland,Is_UK_Card,Is_Simplecard,Is_Moneycard,Is_Goldcard,Is_Visa,Is_Diners,Is_Master
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [10]:
raw_dataset['amount'].describe(percentiles=[.05,.95])

count    50410.000000
mean       202.395715
std         96.274730
min          6.000000
5%          42.450000
50%        201.000000
95%        365.000000
max        630.000000
Name: amount, dtype: float64

In [17]:
for i in range(len(raw_dataset)):
    if  raw_dataset.iloc[i,3]<100:
        prepros_dataset.loc[i,'amount0']=1
        prepros_dataset.loc[i,'amount1']=0
        prepros_dataset.loc[i,'amount2']=0
    elif 100<= raw_dataset.iloc[i,3] <=300:
        prepros_dataset.loc[i,'amount0']=0
        prepros_dataset.loc[i,'amount1']=1
        prepros_dataset.loc[i,'amount2']=0
    elif raw_dataset.iloc[i,3] >300:
        prepros_dataset.loc[i,'amount0']=0
        prepros_dataset.loc[i,'amount1']=0
        prepros_dataset.loc[i,'amount2']=1
        
prepros_dataset.head()

,Is_Germany,Is_Austria,Is_Switzerland,Is_UK_Card,Is_Simplecard,Is_Moneycard,Is_Goldcard,amount0,amount1,amount2
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

,Unnamed: 0,tmsp,country,amount,success,PSP,3D_secured,card,month
50405,50405,2019-02-28 23:45:39,Switzerland,415,0,UK_Card,0,Visa,2
50406,50406,2019-02-28 23:46:48,Austria,91,0,UK_Card,0,Master,2
50407,50407,2019-02-28 23:47:04,Austria,91,0,UK_Card,0,Master,2
50408,50408,2019-02-28 23:47:36,Austria,91,0,UK_Card,0,Master,2
50409,50409,2019-02-28 23:48:19,Austria,91,1,Moneycard,0,Master,2

In [18]:
df=raw_dataset
df['month']=raw_dataset['tmsp'].dt.month
for i in range(len(raw_dataset)):
    if  raw_dataset.iloc[i,8]==1:
        prepros_dataset.loc[i,'Is_Jan']=1
        prepros_dataset.loc[i,'Is_Feb']=0
    elif  raw_dataset.iloc[i,8]==2:
        prepros_dataset.loc[i,'Is_Jan']=0
        prepros_dataset.loc[i,'Is_Feb']=1

prepros_dataset.head()

,Is_Germany,Is_Austria,Is_Switzerland,Is_UK_Card,Is_Simplecard,Is_Moneycard,Is_Goldcard,amount0,amount1,amount2,Is_Jan,Is_Feb
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [56]:
prepros_dataset.tail()

,Is_Germany,Is_Austria,Is_Switzerland,Is_UK_Card,Is_Simplecard,Is_Moneycard,Is_Goldcard,Is_Visa,Is_Diners,Is_Master,amount0,amount1,amount2,amount3,amount4,amount5,amount6,Is_Jan,Is_Feb
50405,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
50406,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
50407,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
50408,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
50409,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [57]:
df['day']=raw_dataset['tmsp'].dt.day

In [60]:
df.tail(100)

,Unnamed: 0,tmsp,country,amount,success,PSP,3D_secured,card,month,day
50310,50310,2019-02-28 21:03:48,Germany,359,0,Simplecard,0,Visa,2,28
50311,50311,2019-02-28 21:04:21,Germany,359,0,Simplecard,0,Visa,2,28
50312,50312,2019-02-28 21:04:51,Germany,359,0,Moneycard,0,Visa,2,28
50313,50313,2019-02-28 21:06:09,Austria,267,0,UK_Card,0,Diners,2,28
50314,50314,2019-02-28 21:06:42,Austria,267,0,UK_Card,0,Diners,2,28
...,...,...,...,...,...,...,...,...,...,...
50405,50405,2019-02-28 23:45:39,Switzerland,415,0,UK_Card,0,Visa,2,28
50406,50406,2019-02-28 23:46:48,Austria,91,0,UK_Card,0,Master,2,28
50407,50407,2019-02-28 23:47:04,Austria,91,0,UK_Card,0,Master,2,28
50408,50408,2019-02-28 23:47:36,Austria,91,0,UK_Card,0,Master,2,28
50409,50409,2019-02-28 23:48:19,Austria,91,1,Moneycard,0,Master,2,28

In [11]:
weekday=datetime.weekday(raw_dataset.at[2,'tmsp'])
print(weekday)
raw_dataset['amount'].describe(percentiles=[.05,.95])

1

count    50410.000000
mean       202.395715
std         96.274730
min          6.000000
5%          42.450000
50%        201.000000
95%        365.000000
max        630.000000
Name: amount, dtype: float64

In [19]:
for i in range(len(raw_dataset)):
    weekday=datetime.weekday(raw_dataset.at[i,'tmsp'])
    if  weekday==0:
        prepros_dataset.loc[i,'Monday']=1
        prepros_dataset.loc[i,'Tuesday']=0
        prepros_dataset.loc[i,'Wednesday']=0
        prepros_dataset.loc[i,'Thursday']=0
        prepros_dataset.loc[i,'Friday']=0
        prepros_dataset.loc[i,'Saturday']=0
        prepros_dataset.loc[i,'Sunday']=0
    elif weekday==1:
        prepros_dataset.loc[i,'Monday']=0
        prepros_dataset.loc[i,'Tuesday']=1
        prepros_dataset.loc[i,'Wednesday']=0
        prepros_dataset.loc[i,'Thursday']=0
        prepros_dataset.loc[i,'Friday']=0
        prepros_dataset.loc[i,'Saturday']=0
        prepros_dataset.loc[i,'Sunday']=0
    elif weekday==2:
        prepros_dataset.loc[i,'Monday']=0
        prepros_dataset.loc[i,'Tuesday']=0
        prepros_dataset.loc[i,'Wednesday']=1
        prepros_dataset.loc[i,'Thursday']=0
        prepros_dataset.loc[i,'Friday']=0
        prepros_dataset.loc[i,'Saturday']=0
        prepros_dataset.loc[i,'Sunday']=0
    elif weekday==3:
        prepros_dataset.loc[i,'Monday']=0
        prepros_dataset.loc[i,'Tuesday']=0
        prepros_dataset.loc[i,'Wednesday']=0
        prepros_dataset.loc[i,'Thursday']=1
        prepros_dataset.loc[i,'Friday']=0
        prepros_dataset.loc[i,'Saturday']=0
        prepros_dataset.loc[i,'Sunday']=0
    elif weekday==4:
        prepros_dataset.loc[i,'Monday']=0
        prepros_dataset.loc[i,'Tuesday']=0
        prepros_dataset.loc[i,'Wednesday']=0
        prepros_dataset.loc[i,'Thursday']=0
        prepros_dataset.loc[i,'Friday']=1
        prepros_dataset.loc[i,'Saturday']=0
        prepros_dataset.loc[i,'Sunday']=0
    elif weekday==5:
        prepros_dataset.loc[i,'Monday']=0
        prepros_dataset.loc[i,'Tuesday']=0
        prepros_dataset.loc[i,'Wednesday']=0
        prepros_dataset.loc[i,'Thursday']=0
        prepros_dataset.loc[i,'Friday']=0
        prepros_dataset.loc[i,'Saturday']=1
        prepros_dataset.loc[i,'Sunday']=0
    elif weekday==6:
        prepros_dataset.loc[i,'Monday']=0
        prepros_dataset.loc[i,'Tuesday']=0
        prepros_dataset.loc[i,'Wednesday']=0
        prepros_dataset.loc[i,'Thursday']=0
        prepros_dataset.loc[i,'Friday']=0
        prepros_dataset.loc[i,'Saturday']=0
        prepros_dataset.loc[i,'Sunday']=1

prepros_dataset.head()

,Is_Germany,Is_Austria,Is_Switzerland,Is_UK_Card,Is_Simplecard,Is_Moneycard,Is_Goldcard,amount0,amount1,amount2,Is_Jan,Is_Feb,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0