In [4]:
import pandas as pd
import numpy as np

dataset=pd.read_excel('PSP_Jan_Feb_2019.xlsx')
dataset.head()

,Unnamed: 0,tmsp,country,amount,success,PSP,3D_secured,card
0,0,2019-01-01 00:01:11,Germany,89,0,UK_Card,0,Visa
1,1,2019-01-01 00:01:17,Germany,89,1,UK_Card,0,Visa
2,2,2019-01-01 00:02:49,Germany,238,0,UK_Card,1,Diners
3,3,2019-01-01 00:03:13,Germany,238,1,UK_Card,1,Diners
4,4,2019-01-01 00:04:33,Austria,124,0,Simplecard,0,Diners

In [8]:
dataset.groupby(['PSP'])['amount'].sum()

PSP
Goldcard       652493
Moneycard     1675105
Simplecard    2506085
UK_Card       5369085
Name: amount, dtype: int64